.navContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.iconLogoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.iconsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 34px;
    width: 48px;
    background-color: #F5F6FB;
    border-radius:10px;

}

.ellipseBlue {
    margin-right: 6px;
}

.logo {
    margin-left:12px;
    font-size: 28px;
    line-height: 42px;
    font-weight: bold;
}



.links {
    display: flex;
    align-items: center;
}


.home {
    text-decoration: none;
    margin-right:60px;
    line-height: 24px;
    color:#070F18;
    font-weight: bold;
}

.features {
    text-decoration: none;
    margin-right:60px;
    line-height: 24px;
    color:#070F18;
}

.showcase {
    text-decoration: none;
    margin-right:60px;
    line-height: 24px;
    color:#070F18;

}

.price {
    text-decoration: none;
    margin-right:60px;
    line-height: 24px;
    color:#070F18;

}

.auth {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#F5F6FB;
    width:150px;
    height: 48px;
    border-radius: 50px;

}

.authContainer {
    display: flex;
    align-items: center;
}


.signIn {
    text-decoration: none;
    color: #070F18;
}



/* TABLET VERSION*/

@media only screen and (max-width:768px) {

    .links{
        display: none;
    }

}

@media only screen and (max-width:320px) {
    .links {
        display: none;
    }
    .auth {
        display: none;
    }

}

