.mainContainer {
    margin-top: 140px;
    padding: 0 204px;
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
}

.append{
    color:#F75C4E;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;

}

.h1 {
    color:#000000;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
}

.description {
    /*margin-top: 20px;*/
    width: 385px;
    height: 64px;
    color:#575455;
    font-size: 16px;

}

.pDescription {
text-align: center;
}

.firstRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 60px;
}



.section {
    display: flex;
    flex-direction: row;
}

.sectionIcon {
    margin-right: 24px;

}

.iconSize {
    height: 45px;
    width: 45px;
}

.iconLuggage {
    color:white;
    margin-left: -30px;
    margin-bottom: 15px;


}

.sendIcon {
    color:white;
    margin-left: -30px;
    margin-bottom: 15px;
}

.iconWifi {
    color:white;
    margin-left: -30px;
    margin-bottom: 15px;
}

.iconKanban {
    color:white;
    margin-left: -30px;
    margin-bottom: 15px;
}

.iconPresent {
    color:white;
    margin-left: -30px;
    margin-bottom: 15px;
}

.iconGlobal {
    color:white;
    margin-left: -30px;
    margin-bottom: 15px;
}





.sectionTitleAndDescription {

}

.sectionTitle {
    color:#070F18;
    font-size:20px;
    font-weight: bold;
}



.sectionDescription {
    width: 226px;
    height:64px ;
    color:#575455;

}


.secondRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}




@media only screen and (min-width: 540px) and (max-width:768px) {

    .firstRow {
        flex-direction: column;
        margin-right: 90px;
    }

    .secondRow {
        flex-direction: column;
        justify-content: unset;
    }

    .firstAndSecondRowContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }


    .sectionDescription{
        margin-top:12px;
    }

    .section {
        margin-bottom: 30px;
    }

}







@media only screen and (max-width:320px)  {


    .mainContainer {
        padding: 0 40px;
    }

    .append {
        height: 24px;
        width: 131px;
    }

    .h1 {
        font-size:28px;
        width: 253px;
        height: 42px;
        margin-left: 40px;
    }

    .description {
        width: 230px;
    }


    .firstAndSecondRowContainer {
        align-items: center;
    }

    .firstRow {
        flex-direction: column;
    }

    .secondRow {
        margin-top: -70px;
        flex-direction: column;

    }

}