.footerContainer {
    margin-top: 120px;
    display: flex;
    flex-display: row;
    justify-content: space-around;
    margin-bottom: 160px;
}


.video {
    width: 800px;
    height: 450px;
    border-radius: 50px;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    justify-content:  center;
}

.append {
    color:#F75C4E;
    line-height: 24px;
    font-weight: bold;
}

.h1 {
    margin-top: 6px;
    color:#000000;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
}

.description {
    color: #575455;
    line-height: 32px;
    width: 360px;
    height: 64px;
    margin-top: 20px;
}

.emailContainer {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

.input {
    padding: 15px 50px;
    border-radius: 50px;
    background-color:#F5F6FB;
    border: none;

}

input:focus {
    outline: none;
}

.button {
    background-color: #1F7CFF;
    color:white;
    font-weight: bold;
    border-radius: 50px;
    border: none;
    padding: 10px 40px;
    margin-left: -50px;
    cursor: pointer;
}



@media only screen and (min-width: 540px) and (max-width:768px) {
    .footerContainer {
        flex-direction: column;
        align-items: center;
    }

    .infoContainer {
        align-items: center;
    }

    .append {
        margin-top: 40px;
    }

    .description {
       width: 330px;
        margin-top: 20px;
        text-align: center;
    }

    .video {
        width: 661px;
        height: 374px;
        border-radius: 50px;
    }
}

@media only screen and (max-width:320px)  {

    .footerContainer {
        padding: 0 21px;
        flex-direction: column;
        align-items: center;
    }

    .infoContainer {
        align-items: center;
    }

    .append {
        margin-top: 40px;
    }

    .h1 {
        font-size: 28px;
    }


    .description {
        width: 333px;
        height: 96px;
        margin-top: 20px;
        text-align: center;
    }

    .video {
        width: 296px;
        height: 169px;
        border-radius: 30px;
    }

    .emailContainer {
        flex-direction: column;
    }

    .button {
        margin-top: 12px;
        margin-left: 5px;
    }
}

