.headerContainer {
    padding:0 190px 0 180px;
}

.welcomingContainer {
    display: flex;
    flex-direction: row;
    margin-top: 90px;
    justify-content: space-between;
}

.textWelcomingContainer {

}


.welcomingName {
    color:black;
    line-height:82px;
    font-size: 55px;
    font-weight: bold;
    width: 442px;
    height: 166px;

}

.welcomingDescription {
    font-size: 16px;
    line-height: 32px;
    color:#575455;
    margin-top: 20px;
    width: 420px;
    height: 64px;
}

.welcomingGetStartButton {
    margin-top:30px;
    background-color:#1F7CFF;
    color:white;
    font-size:16px;
    font-weight: bold;
    line-height:24px;
    border:none;
    border-radius:50px;
    padding: 12px 52px;
    cursor: pointer;
}

.imageContainer {
    margin-top: -40px;
}


.analyticsImg {
    margin-top: -270px;
    margin-left: -140px;
}

.bulkImg {
    margin-top: -280px;
    margin-left: 360px;
}


.cooperatorsContainer {
    margin-top: 106px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.txt {
    width: 151px;
    height: 48px;
    line-height: 24px;
    font-size: 16px;
    color:#070F18;
    font-weight: bold;
}

.logos {
   margin-right: 50px;
}

@media only screen and (min-width: 540px) and (max-width:768px) {

    .imageContainer {
        display: none;
    }

    .textWelcomingContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cooperatorsContainer {
        flex-direction: column;
        align-items: center;
    }

    .txt {
        width: 300px;
        margin-left: 130px;
    }

    .logos {
        margin-left: 50px;
    }

}


@media only screen and (max-width:540px) {

    .imageContainer {
        display: none;
    }

    .welcomingName{
        width: 305px;
        height: 114px;
        font-size: 38px;
        margin-bottom: 20px;
        line-height: 57px;
    }

    .welcomingDescription {
        width: 319px;
        height: 96px;
    }

    .logos {
        display: none;
    }

    .headerContainer {
        padding:0 24px;
    }


    .txt {
        width: 240px;
        height: 24px;
        margin-top: -50px;
    }

}